@import '../styles.scss';

nav {
    padding: 20px 60px;
    box-shadow: $sombra;
    position: static;
    margin-bottom: 20px;
    
    span {
        font-weight: 800;
        font-size: 1.4rem;
        cursor: default;
    }

    button {
        float: right;
        background-color: $veryLightGrey-lightMode;
        border: 0px solid transparent;
        font-weight: 600;
        padding: 5px 10px;
        border-radius: 5px 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: box-shadow 0.3s ease;
        
        &:hover {
            box-shadow: $sombra2;
        }

        img {
            width: 1.2rem;
            height: 1.2rem;
            margin-right: 10px;
            padding: 0;
        }
    }
}
