<div class="container-fluid" id="content">
    <div class="container-fluid">     
        <div class="flexDataDiv"> 
            <label for="countrySearch">Search for a country</label>
            <input type="text" pInputText [(ngModel)]="inputValue" id="countrySearch" variant="filled"/>
        </div>
        <div class="flexDataDiv" id="flexDropdown">
            <label for="dropdown">Filter by Region</label>
            <select id="dropdown" pInputText [(ngModel)]="selectedRegion" (change)="onSelectChange($event)">
              <option *ngFor="let regiao of regioes" [value]="regiao">{{ regiao }}</option>
            </select>
        </div>          
    </div>
</div>
